
<div id="message-<%= message.id %>" class="<%= local_assigns[:css_class] %>" data-chatroom-subscription-target="message" data-sender-id="<%= message.user.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  <div class="d-flex align-items-center mb-3">
    <%= cl_image_tag message.user.photos.first.key, class:'img-avatar-message' %>
    <p class="message-content"><%= message.content %></p>
  </div>
</div>
