<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  <br>
  <div class="d-flex align-items-center mb-3">
    <%= cl_image_tag message.user.photos.first.key, class:'img-avatar-message' %>
    <p class="message-content flex-grow-1"><%= message.content %></p>
  </div>
</div>
