<%= render 'shared/navbar' %>

  <div class="banner-show">
  <% if @user.photo.attached?  %>
    <%= cl_image_tag @user.photo.key %>
  <% else %>
    <img src="https://images.unsplash.com/photo-1499424017184-418f6808abf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
  <% end %>
  <div class="back-to-index">
    <%= link_to users_path(@user) do %>
      <i class="fa fa-arrow-left index"></i>
    <% end %>
  </div>
  </div>
  <div class='form'>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class='input-and-label'>
          <p><strong>Name: </strong></p>
          <%= f.input :username, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
        <p><strong>Location: </strong></p>
          <%= f.input :location, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
          <p><strong>Instruments: </strong></p>
          <%= f.input :instruments, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
          <p><strong>Genres: </strong></p>
          <%= f.input :genres, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
          <p><strong>Bio: </strong></p>
          <%= f.input :bio, class:'bio', label: false, :input_html => {  } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
  </div>
