<%= render 'shared/navbar' %>

<div class="container">
  <div class="all-messages">
    <h2 class='mb-3'>Chats</h2>
    <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class:'link-black' do %>
    <div class="user-last-content d-flex">
      <% if chatroom.creator != current_user %>
        <%= cl_image_tag chatroom.creator.photo.key, class:'img-avatar-message' %>
      <% else %>
        <%= cl_image_tag chatroom.invited.photo.key, class:'img-avatar-message' %>
      <% end %>
      <div class="message-content flex-grow-1">
        <%= chatroom.messages.last.content %>
      </div>
      <br>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
