<%= render 'shared/navbar' %>

<div class="back-navbar">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  <small>
    <% if current_user == @chatroom.invited %>
      <%= cl_image_tag @chatroom.creator.photos.first.key, class:'img-avatar-message small' %>
      <strong><%= @chatroom.creator.username%></strong>
    <% else %>
      <%= cl_image_tag @chatroom.invited.photos.first.key, class:'img-avatar-message small' %>
      <strong><%= @chatroom.invited.username%></strong>
    <% end %>
    <br>
  </small>
</div>

<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages" data-current-user-id="<%= current_user.id %>">
    <% @chatroom.messages.each do |message| %>
      <% if message.user == current_user %>
        <%= render "messages/message", message: message, css_class: "sent-message" %>
      <% else %>
        <%= render "messages/message", message: message, css_class: "received-message" %>
      <% end %>
    <% end %>
  </div>

  <div class="sending-message">
    <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {data: {chatroom_subscription_target: "form"}, class: "d-flex"} do |f|
    %>
      <%= f.input :content, class: 'send-content-message align-items-center',
        label: false,
        placeholder: "Message...",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary btn-message-send" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>

<script>
  let vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
