<%= render 'shared/navbar' %>
  <div class="banner-show">
    <% if @user.photos.attached?  %>
      <%= cl_image_tag @user.photos.first.key %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1499424017184-418f6808abf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    <% end %>
    <div class="back-to-index">
      <%= link_to users_path(@user) do %>
        <i class="fa fa-arrow-left index"></i>
      <% end %>
    </div>
  </div>
  <div class='form'>
    <%= simple_form_for @user,  method: :patch do |f| %>
      <div class="form-inputs">
        <div class='input-and-label'>
          <%= f.input :username, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
          <%= f.input :location, label: false, :input_html => {  } %>
        </div>
        <div class='input-and-label'>
          <%= f.input :instrument_list, label: false %>
        </div>
        <div class='input-and-label'>
          <%= f.input :genre_list, label: false %>
        </div>
        <div class='input-and-label'>
          <%= f.input :bio, class:'bio', label: false, :input_html => { style:"margin-bottom: 40px; height: 100px;" } %>
        </div>
      </div>
      <div class="form-actions update-button">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    <%= render 'shared/footer' %>
  </div>
