<div class="container">
  <div class='cards'>
    <% @users.each do |user| %>
      <div class="card-user">
        <div class="card-image" style="background-image: url(https://images.unsplash.com/photo-1499424017184-418f6808abf9?  ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
        </div>
        <div class="card-body">
          <div class="card-info">
            <h4><%= user.username %></h4>
            <p><%= user.location %></p>
            <p><%= user.instruments %></p>
            <p><%= user.genres %></p>
            <p><%= link_to 'See more', user_path(user), style:'text-decoration:none' %></p>
            <% if (favourite = @favourites.find_by(liked: user)).present? %>
              <div class="liked-note"><i class="fa fa-music"></i></div>
            <% else %>
              <%= link_to user_favourites_path(user), method: :post do %>
                <div class="music-note">
                  <i class="fa fa-music"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
