<%= render 'shared/navbar' %>

<div class="banner-show">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @user.photos.each_with_index do |photo, i| %>
        <div class="carousel-item <%= "active " if i == 0 %>">
          <%= cl_image_tag photo.key %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style='display: none'></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" style='display: none'></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="user-info">
    <h2> <strong style="font-family: lobster"><%= @user.username %></h2></strong>
    <p id="body-text" style='margin-top: 10px; '> <i style="margin-right: 2px" class="fa fa-map-pin" id="pin"></i> <%= @user.location %></p>
    <p id="body-text"><strong >Instruments: </strong><%= @user.instrument_list.join(', ') %></p>
    <p id="body-text"><strong>Genres: </strong><%= @user.genre_list.join(', ') %></p>
    <p id="body-text"><strong>Experience: </strong><%= @user.experience %></p>
    <p id="body-text"><%= @user.bio %></p>
    <br>
    <div class="d-flex justify-content-center">
      <% if @chatroom.present? %>
        <%= link_to 'Send a message', chatroom_path(@chatroom), class:'btn btn-primary btn-sendmessage'  %>
      <% elsif @user != current_user %>
        <%= link_to 'Send a message', user_chatrooms_path(@user), method: :post, class:'btn btn-primary btn-sendmessage'  %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<script>
  let image = document.querySelector('.carousel-image')
  console.log(image);
</script>
