<%= render 'shared/navbar' %>
<div class='all-content'>
  <% @posts.each do |post| %>
    <div class='post'>
      <h3><%= post.user.username %></h3>
      <div class='inner-post'>
        <% if post.photo.attached? %>
          <img class='image' src='<%= cl_image_path post.photo.key%>'>
        <% end %>
        <div class='inner-post-bottom'>
        <p><%= post.description %></p>
          <p><%= post.location %><p>
          <div class='post-info'>
            <p><%= time_ago_in_words(post.created_at)%> ago</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <br>
</div>
<%= render 'shared/footer' %>
