<%= render 'shared/navbar' %>
<div class='all-content'>
  <% @posts.each do |post| %>
    <div class='post'>
      <h1><%= post.user.username %></h1>
      <div class='inner-post'>
      <img class='image' src='<%= cl_image_path post.photo.key %>'>
        <div class='inner-post-bottom'>
        <p><%= post.description %></p>
          <p><%= post.location %><p>
          <div class='post-info'>
            <p><%= time_ago_in_words(post.created_at)%> ago</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
