<%= render 'shared/navbar' %>
<div class='form-container'>
  <%= simple_form_for @post do |f| %>
    <%= f.input :photo, as: :file, class:"photo-input" %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.submit "Share", class:'submit-button' %>
  <% end %>
</div>
